//selector {
//    properties: value;
//  }
h3{
    font-family: "Century Gothic";
    font-weight: bolder;
}
h5 {
    color: blue;
    font-family: "Century Gothic";
    font-weight: bolder;
}
b {
    color: #C90668;
    font-family: "Century Gothic";
    font-weight: bolder;
}
@table (min-width: 700px){
    background-color:white;
    
}
th{
    color: green;
    font-family: "Century Gothic";
}
a{
    color: white;
}
a:hover{
    color: orange;
}
#cont{
    background-color: black;
}
#bg{
    background-color: #3BE3D5;
}
li{
    display: block;
    background-color: rgb(86, 59, 238);
    font-width: bold;
    font-family: "Century Gothic";
}
li:hover{
    background-color: rgb(86, 59, 238);
    font-size: 20px;
    transition: 300ms linear; 
    font-width: bolder;
    font-family: "Century Gothic";

}

button:hover{
    font-size: 20px;
    transition: 200ms linear;
}

.nav-item{
    color:beige;
}